name: Regression

on:
  push:
  pull_request:
  schedule:
  - cron: 0 11 * * ?

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies
      run: sudo apt-get install g++-7 libgmp-dev libmpfr-dev libmpc-dev iverilog
    - name: Run regression test
      run: source regress.sh
      env:
        CC: gcc-7
        CXX: g++-7
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  mac:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies
      run: |
        brew install icarus-verilog coreutils
    - name: Run regression test
      run: source regress.sh
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

# Windows testing doesn't look like it's going to work, at least for now, because
# some of the packages used by fault don't support Windows.

#  windows:
#    runs-on: windows-latest
#    steps:
#    - name: Checkout
#      uses: actions/checkout@v2
#    - name: Set up Python 3.7
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.7
#    - name: Install dependencies
#      run: |
#        curl -L https://github.com/sgherbst/anasymod/releases/download/bogus/iverilog-v11-20201123-x64.tar.gz > iverilog-v11-20201123-x64.tar.gz
#        tar xzvf iverilog-v11-20201123-x64.tar.gz
#        echo `realpath iverilog/bin` >> $GITHUB_PATH
#      shell: bash
#    - name: Run regression test
#      run: |
#        source regress.sh
#      env:
#        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
#      shell: bash
